.total {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 10px;
  border-top: 1px dashed #dedede;
}

.emptyMsg {
  color: #888;
  font-style: italic;
  text-align: center;
}
