.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.itemDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

/* BUTTONS */
