.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  margin: 0 auto;
  padding: 40px 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.column {
  background: #f8f7f7;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
}

.heading {
  margin-top: 0;
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: left;
}
